.info_section {
  width: 100%;          
  min-height: 100vh;    
  padding: 4rem 2rem;   
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #171719;
  color: var(--foreground);
}

.info_content {
  width: 100%;
  max-width: 800px;
}

.icon_expand {
  display: inline-flex;       
  transition: transform 0.3s ease-in-out;
  transform-origin: center;
}

.icon_expand:hover {
  transform: scale(1.1);
}