/* animation only */
.fly-in-left {
  animation: flyInLeft 1.5s ease-out 1s forwards;
}

@keyframes flyInLeft {
  0% {
    transform: translateX(-400%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fly-in-right {
  animation: flyInRight 1.5s ease-out 1s forwards;
}

@keyframes flyInRight {
  0% {
    transform: translateX(400%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

/* image hover */
.hover-scale {
  position: relative;
  z-index: 50;
  box-shadow: 0 0 7px rgba(0,0,0,1);
  transition: transform 0.3s ease; 
}
.hover-scale:hover {
  transform: scale(1.1); 
}

.origin {
  opacity: 0;
  position: fixed;
  top: 5%;
  left: 25%;
  z-index: -1;
  pointer-events: none;
}

.origin > * {
  pointer-events: auto;
}

/* layout transforms using % */
.zero       { transform: translate(-50%, -151%); }
.rightFace  { transform: translate(80%, -118%); }
.shoulder   { transform: translate(-44%, -2%); }
.img1863    { transform: translate(70%, 9%); }

.eye        { transform: translate(-36%, -340%); }
.n999       { transform: translate(-8%, 18%); }
.third      { transform: translate(19%, -195%); }
.nose       { transform: translate(36%, 190%); }
