.fly-in-left {
  animation: flyInLeft 1.5s ease-out 1s forwards;
}

@keyframes flyInLeft {
  0% {
    transform: translateX(-400%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.fly-in-right {
  animation: flyInRight 1.5s ease-out 1s forwards;
}

@keyframes flyInRight {
  0% {
    transform: translateX(400%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.hover-scale {
  position: relative;
  z-index: 10;
  box-shadow: 0 0 7px rgba(0,0,0,1);
  transform: translate(0, 0);
  transition: transform 0.3s ease; 
}

.hover-scale:hover {
  transform: scale(1.1); 
}

.origin {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
}
