.side_nav {
    position: fixed;
    bottom: 50%;
    right: 1%;
    width: 20px;
    height: 60px;
    z-index: 50;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
}

.side_dot {
    display: inline-block;
    background-color: rgba(87, 87, 87, 0.2);
    outline: 1px solid hsla(0, 0%, 100%, 0.25);
    transition: all 0.3s ease;
}